.cursor_::after {
  content: "";
  width: 4px;
  height: 20px;
  background: #6ee7b7;
  display: inline-block;
  animation: cursor-blink 0.4s ease-in-out alternate infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.cursor_ {
  display: flex;
  align-items: center;
  gap: 10px;
}
